<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no{#, target-densitydpi=device-dpi#}" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		
		{% stylesheets filter="compass"
			'@SItsSiteBundle/Resources/assets/scss/styles.scss'
		%}
		
			<link rel="stylesheet" href="{{ asset_url }}" />
		
		{% endstylesheets %}
	</head>
	
	<body>
		
		<header>
			<img src="{{ asset('img/banner.jpg') }}" alt="Bannière du CRM d'Aubange" />
			<nav class="sits-nav" role="navigation">
				<div class="sits-menu">
					{{ knp_menu_render('SItsSiteBundle:Builder:mainMenu') }}
				</div>
			</div>
		</header>
		
		<div class="sits-content-container">
			{% block content %}{% endblock %}
		</div>
		
	
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
	
	</body>
</html>